
<div class="breadcumb-wrapper background-image" style="background-image: url(&quot;/assets/img/bg/breadcumb-bg.jpg&quot;);">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Contact Us</h1>
            <ul class="breadcumb-menu">
                <li><a href="electronics-shop.html">Home</a></li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>
<div class="space">
    <div class="container">
        <div class="contact-area2">
            <div class="row gy-4 flex-row-reverse">
                <div class="col-xl-8">
                    <form action="mail.php" method="POST" class="contact-form2 ajax-contact">
                        <h2 class="sec-title">Get In Touch</h2>
                        <p class="mb-20">We’d love to hear from you about our entire service. Your comments and suggestions will be highly appreciated. Please complete the form below.</p>
                        <div class="row">
                            <div class="form-group col-md-6"><input type="text" class="form-control" name="name" id="name" placeholder="Your Name"></div>
                            <div class="form-group col-md-6"><input type="email" class="form-control" name="email" id="email" placeholder="Email Address"></div>
                            <div class="form-group col-md-6"><input type="tel" class="form-control" name="number" id="number" placeholder="Phone Number"></div>
                            <div class="form-group col-md-6">
                                <select name="subject" id="subject" class="form-select">
                                    <option value="" disabled="disabled" selected="selected" hidden="">Subject</option>
                                    <option value="General Query">General Query</option>
                                    <option value="Help Support">Help Support</option>
                                    <option value="Sales Support">Sales Support</option>
                                </select>
                            </div>
                            <div class="form-group col-12"><textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Type Your Message"></textarea></div>
                            <div class="form-btn col-12"><button class="th-btn">Submit Now</button></div>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
                <div class="col-xl-4">
                    <div class="contact-item-wrap">
                        <div class="contact-item">
                            <div class="contact-item_icon"><i class=""><img src="/assets/img/icon/address.svg" alt=""></i></div>
                            <div class="media-body"><span class="contact-item_title">Address</span><span class="contact-item_text">10th Of Ramadan City , Egypt</span></div>
                        </div>
                        <div class="contact-item">
                            <div class="contact-item_icon"><i class=""><img src="/assets/img/icon/phone7.svg" alt=""></i></div>
                            <div class="media-body"><span class="contact-item_title">Phone</span> <span class="contact-item_text"><a href="tel:+58125253158">+20-01013877905</a></span> <span class="contact-item_text"><a href="tel:+16336983478">+163 3698 3478</a></span></div>
                        </div>
                        <div class="contact-item">
                            <div class="contact-item_icon"><i class=""><img src="/assets/img/icon/message.svg" alt=""></i></div>
                            <div class="media-body"><span class="contact-item_title">Email</span> <span class="contact-item_text"><a href="mailto:info@sassa.com">abdoabdalla1998@outlook.com</a></span> <span class="contact-item_text"><a href="mailto:help.info@erna.com">help.info@EG-Souq.com</a></span></div>
                        </div>
                        <div class="contact-item">
                            <div class="contact-item_icon"><i class=""><img src="/assets/img/icon/fax.svg" alt=""></i></div>
                            <div class="media-body"><span class="contact-item_title">Fax</span> <span class="contact-item_text"><a href="tel:+145278963">+145278963</a></span> <span class="contact-item_text"><a href="tel:+236587954">+236587954</a></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-map style4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sAngfuztheme!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd" allowfullscreen="" loading="lazy"></iframe>
    <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
</div>