
<div class="th-hero-wrapper hero-2 slider-area background-image" id="hero" style="background-image: url(&quot;/assets/img/hero/hero_bg_2.png&quot;);">
    <div class="swiper th-slider swiper-fade swiper-initialized swiper-horizontal swiper-autoheight swiper-watch-progress swiper-backface-hidden fade-ani" id="heroSlide2" data-slider-options="{&quot;effect&quot;:&quot;fade&quot;,&quot;autoHeight&quot;:true}">
        <div class="swiper-wrapper" id="swiper-wrapper-9fac5a48cdd7ef2a" aria-live="off" style="height: 1014px; transition-duration: 0ms; transition-delay: 0ms;">
            <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 3" style="width: 708px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="0">
                <div class="hero-inner">
                    <div class="container th-container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="hero-style2">
                                    <span class="sub-title slideinup" data-ani="slideinup" data-ani-delay="0.2s" style="animation-delay: 0.2s;">Best Gadget with best price</span>
                                    <h1 class="hero-title slideinup" data-ani="slideinup" data-ani-delay="0.4s" style="animation-delay: 0.4s;">Unbeatable Gadget Combos for Tech Lover</h1>
                                    <p class="price slideinup" data-ani="slideinup" data-ani-delay="0.6s" style="animation-delay: 0.6s;"><span>From</span>$389.99</p>
                                    <div class="btn-group slideinup" data-ani="slideinup" data-ani-delay="0.7s" style="animation-delay: 0.7s;"><a href="contact.html" class="th-btn btn-white style3">START BUYING</a></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero-img slideinrighthero" data-ani="slideinrighthero" data-ani-delay="0.8s" style="animation-delay: 0.8s;"><img src="/assets/img/hero/hero_1_3.jpg" alt="Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-fully-visible swiper-slide-active" role="group" aria-label="2 / 3" style="width: 708px; opacity: 1; transform: translate3d(-708px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="1">
                <div class="hero-inner">
                    <div class="container th-container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="hero-style2">
                                    <span class="sub-title slideinup" data-ani="slideinup" data-ani-delay="0.2s" style="animation-delay: 0.2s;">FaVORABLE SMART WATCHES</span>
                                    <h1 class="hero-title slideinup" data-ani="slideinup" data-ani-delay="0.4s" style="animation-delay: 0.4s;">Samsung Galaxy Watch6 Aluminum Smart Watch</h1>
                                    <p class="price slideinup" data-ani="slideinup" data-ani-delay="0.6s" style="animation-delay: 0.6s;"><span>From</span>$289.99</p>
                                    <div class="btn-group slideinup" data-ani="slideinup" data-ani-delay="0.7s" style="animation-delay: 0.7s;"><a href="contact.html" class="th-btn btn-white style3">START BUYING</a></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero-img slideinrighthero" data-ani="slideinrighthero" data-ani-delay="0.8s" style="animation-delay: 0.8s;"><img src="/assets/img/hero/hero_1_1.jpg" alt="Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 3" style="width: 708px; opacity: 0; transform: translate3d(-1416px, 0px, 0px); transition-duration: 0ms;" data-swiper-slide-index="2">
                <div class="hero-inner">
                    <div class="container th-container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="hero-style2">
                                    <span class="sub-title slideinup" data-ani="slideinup" data-ani-delay="0.2s" style="animation-delay: 0.2s;">Beats Fit Pro</span>
                                    <h1 class="hero-title slideinup" data-ani="slideinup" data-ani-delay="0.4s" style="animation-delay: 0.4s;">Beat True Wireless Noise Cancelling Earbuds</h1>
                                    <p class="price slideinup" data-ani="slideinup" data-ani-delay="0.6s" style="animation-delay: 0.6s;"><span>From</span>$189.99</p>
                                    <div class="btn-group slideinup" data-ani="slideinup" data-ani-delay="0.7s" style="animation-delay: 0.7s;"><a href="contact.html" class="th-btn btn-white style3">START BUYING</a></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero-img slideinrighthero" data-ani="slideinrighthero" data-ani-delay="0.8s" style="animation-delay: 0.8s;"><img src="/assets/img/hero/hero_1_2.jpg" alt="Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" aria-label="Go to Slide 01" tabindex="0"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-label="Go to Slide 02" tabindex="0" aria-current="true"></span><span class="swiper-pagination-bullet" aria-label="Go to Slide 03" tabindex="0"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>
<section class="position-relative overflow-hidden">
    <div class="container th-container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-auto">
                <div class="title-area mb-10 text-xl-start text-center">
                    <h2 class="sec-title style2">Shop by Categories</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-btn pb-10 text-end"><a href="shop.html" class="line-btn style2">Explore All</a></div>
            </div>
        </div>
        <div class="line-bottom"></div>
        <div class="category-wrapper">
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_1.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Bluetooth Speaker</a></h3>
                    <p class="box-text">15 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_2.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Headphone</a></h3>
                    <p class="box-text">11 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_3.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Laptops</a></h3>
                    <p class="box-text">10 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_4.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Smart TV</a></h3>
                    <p class="box-text">12 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_5.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Camera</a></h3>
                    <p class="box-text">13 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_6.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Smart Phone</a></h3>
                    <p class="box-text">14 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_7.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Smart Watches</a></h3>
                    <p class="box-text">16 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_8.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Accessories</a></h3>
                    <p class="box-text">17 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_9.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Backpack &amp; Bags</a></h3>
                    <p class="box-text">18 Products</p>
                </div>
            </div>
            <div class="category-item">
                <div class="box-img mega-hover"><img src="/assets/img/category/category_1_10.png" alt="categories-item"></div>
                <div class="box-content">
                    <h3 class="box-title"><a href="shop.html">Gamepad</a></h3>
                    <p class="box-text">19 Products</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-sec space overflow-hidden arrow-wrap">
    <div class="container th-container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-auto">
                <div class="title-area mb-10 text-xl-start text-center">
                    <h2 class="sec-title style2">Trending Products</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-btn pb-10 text-end"><a href="contact.html" class="line-btn style2">Explore All</a></div>
            </div>
        </div>
        <div class="line-bottom"></div>
        <div class="slider-area">
            <div class="swiper th-slider has-shadow productSlider4 swiper-initialized swiper-horizontal swiper-backface-hidden" data-slider-options="{&quot;breakpoints&quot;:{&quot;0&quot;:{&quot;slidesPerView&quot;:1},&quot;576&quot;:{&quot;slidesPerView&quot;:&quot;2&quot;},&quot;768&quot;:{&quot;slidesPerView&quot;:&quot;2&quot;},&quot;992&quot;:{&quot;slidesPerView&quot;:&quot;3&quot;},&quot;1400&quot;:{&quot;slidesPerView&quot;:&quot;5&quot;},&quot;1600&quot;:{&quot;slidesPerView&quot;:&quot;6&quot;}}}">
                <div class="swiper-wrapper" id="swiper-wrapper-7b81b7c6bd7fae21" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-270px, 0px, 0px); transition-delay: 0ms;">
                    <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="0">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_1.png" alt="menu Image"> <span class="product-tag">-10%</span>
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple iPad Air 4 10.9-inch Wi-Fi 256GB</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$985.00 <del>$1259.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="1">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_2.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple iPhone 14 Pro Max 6.7inch 48MP</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$990.00 <del>$1269.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="2">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_3.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple MacBook Air 15 inch M3 Chip, 8</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$988.00 <del>$1260.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-label="4 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="3">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_4.png" alt="menu Image"> <span class="product-tag">-15%</span>
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple MacBook Air 15 inch M3 Chip, 8</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$995.00 <del>$1269.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-label="5 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="4">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_5.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple iPad Air 4 1.9inch Wi-Fi 256GB</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$993.00 <del>$1264.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-label="6 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="5">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_6.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Samsung Galaxy Watch7 Aluminum Smartwatch</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$989.00 <del>$1279.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-label="7 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="6">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_7.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Samsung Galaxy Watch7 Aluminum Smartwatch</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$985.00 <del>$1259.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="7">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_8.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Fujifilm Instax Mini 12 Instant Print</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$990.00 <del>$1269.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><a href="shop.html" class="stock">In Stock</a>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>
</section>
<div class="product-sec space-bottom overflow-hidden arrow-wrap">
    <div class="container th-container">
        <div class="row justify-content-xl-between justify-content-center">
            <div class="col-lg-auto">
                <div class="title-area mb-20 text-xl-start text-center">
                    <h2 class="sec-title style2">Flash Sale Today</h2>
                </div>
            </div>
            <div class="col-lg-auto">
                <div class="product-right">
                    <div class="product-title-area">
                        <h3 class="box-title"><img src="/assets/img/icon/fire2.svg" alt="">Hurry up! Sale end in:</h3>
                    </div>
                    <ul class="timer-counter counter-list style4" data-offer-date="12/12/2025">
                        <li>
                            <div class="day count-number">210</div>
                            <span class="count-name">Days</span>
                        </li>
                        <li>
                            <div class="hour count-number">10</div>
                            <span class="count-name">Hours</span>
                        </li>
                        <li>
                            <div class="minute count-number">44</div>
                            <span class="count-name">Mins</span>
                        </li>
                        <li>
                            <div class="seconds count-number">58</div>
                            <span class="count-name">Secs</span>
                        </li>
                    </ul>
                    <a href="contact.html" class="line-btn style2">Explore All</a>
                </div>
            </div>
        </div>
        <div class="slider-area">
            <div class="swiper th-slider has-shadow productSlider4 swiper-initialized swiper-horizontal swiper-backface-hidden" data-slider-options="{&quot;breakpoints&quot;:{&quot;0&quot;:{&quot;slidesPerView&quot;:1},&quot;576&quot;:{&quot;slidesPerView&quot;:&quot;2&quot;},&quot;768&quot;:{&quot;slidesPerView&quot;:&quot;2&quot;},&quot;992&quot;:{&quot;slidesPerView&quot;:&quot;3&quot;},&quot;1400&quot;:{&quot;slidesPerView&quot;:&quot;5&quot;},&quot;1600&quot;:{&quot;slidesPerView&quot;:&quot;6&quot;}}}">
                <div class="swiper-wrapper" id="swiper-wrapper-b1f754e13b2a6643" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1620px, 0px, 0px); transition-delay: 0ms;">
                    <div class="swiper-slide" style="width: 246px; margin-right: 24px;" role="group" aria-label="4 / 8" data-swiper-slide-index="3">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_4.png" alt="menu Image"> <span class="product-tag">-15%</span>
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple MacBook Air 15 inch M3 Chip, 8</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$995.00 <del>$1269.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="width: 246px; margin-right: 24px;" role="group" aria-label="5 / 8" data-swiper-slide-index="4">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_5.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple iPad Air 4 1.9inch Wi-Fi 256GB</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$993.00 <del>$1264.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="width: 246px; margin-right: 24px;" role="group" aria-label="6 / 8" data-swiper-slide-index="5">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_6.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Samsung Galaxy Watch7 Aluminum Smartwatch</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$989.00 <del>$1279.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="width: 246px; margin-right: 24px;" role="group" aria-label="7 / 8" data-swiper-slide-index="6">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_6.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Samsung Galaxy Watch7 Aluminum Smartwatch</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$985.00 <del>$1259.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 246px; margin-right: 24px;" data-swiper-slide-index="7">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_7.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Fujifilm Instax Mini 12 Instant Print</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$990.00 <del>$1269.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-prev" style="width: 246px; margin-right: 24px;" role="group" aria-label="1 / 8" data-swiper-slide-index="0">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_1.png" alt="menu Image"> <span class="product-tag">-10%</span>
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple iPad Air 4 10.9-inch Wi-Fi 256GB</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$985.00 <del>$1259.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 246px; margin-right: 24px;" role="group" aria-label="2 / 8" data-swiper-slide-index="1">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_2.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple iPhone 14 Pro Max 6.7inch 48MP</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$990.00 <del>$1269.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-next" style="width: 246px; margin-right: 24px;" role="group" aria-label="3 / 8" data-swiper-slide-index="2">
                        <div class="product-grid style2">
                            <div class="box-img">
                                <img src="/assets/img/product/product_2_3.png" alt="menu Image">
                                <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-light fa-arrow-right-arrow-left"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-eye"></i></span></a></div>
                            </div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Apple MacBook Air 15 inch M3 Chip, 8</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <del class="count">(14)</del>
                                </div>
                                <span class="box-price">$988.00 <del>$1260.00</del></span> <span class="product-text"><i class="fa-light fa-check"></i><span class="stock">In Stock</span>65 Products</span> <a href="cart.html" class="th-btn2 btn-fw"><span class="link-effect"><span class="effect-1">Add To Cart</span> <span class="effect-1 style2">Add To Cart</span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>
</div>
<div class="overflow-hidden">
    <div class="container th-container">
        <div class="cta-sec2">
            <div class="cta-shape"></div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-auto">
                    <div class="cta-wrapp2">
                        <div class="cta-img1 tilt-active"><img src="/assets/img/normal/cta_3_1.png" alt="CTA"></div>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="cta-content2">
                        <p class="box-title text-title mb-n1"><img src="/assets/img/icon/secure.svg" alt=""> 100% Secure and Free Delivery for Order Over 1000 EGP</p>
                        <div class="btn-group"><a href="shop.html" class="th-btn style4 radius btn-white">SHOP NOW</a></div>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="cta-img2 tilt-active"><img src="/assets/img/normal/cta_3_2.png" alt="CTA"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="product-sec space  overflow-hidden arrow-wrap" id="shop-sec">
    <div class="container th-container">
        <div class="row justify-content-lg-between justify-content-center align-items-center">
            <div class="col-auto">
                <div class="title-area mb-10 text-xl-start text-center">
                    <h2 class="sec-title style2">Featured Products</h2>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-btn pb-10 text-end"><a href="contact.html" class="line-btn style2">Explore All</a></div>
            </div>
        </div>
        <div class="line-bottom"></div>
        <div class="slider-area">
            <div class="swiper th-slider has-shadow featureSlider1 swiper-initialized swiper-horizontal swiper-backface-hidden" data-slider-options="{&quot;breakpoints&quot;:{&quot;0&quot;:{&quot;slidesPerView&quot;:1},&quot;576&quot;:{&quot;slidesPerView&quot;:&quot;1&quot;},&quot;768&quot;:{&quot;slidesPerView&quot;:&quot;1&quot;},&quot;992&quot;:{&quot;slidesPerView&quot;:&quot;1&quot;},&quot;1200&quot;:{&quot;slidesPerView&quot;:&quot;2&quot;}}}">
                <div class="swiper-wrapper" id="swiper-wrapper-eefa855f2105853af" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-540px, 0px, 0px); transition-delay: 0ms;">
                    <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 4" style="width: 516px; margin-right: 24px;" data-swiper-slide-index="0">
                        <div class="product-grid style3 style-flex">
                            <div class="box-img mega-hover"><img src="/assets/img/product/product_3_1.png" alt="menu Image"></div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Xiaomi Redmi Note 12 Pro 5G 128 GB, 6 GB RAM</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <span class="count">(5k reviews)</span>
                                </div>
                                <span class="box-price">$995.00 <del>$1259.00</del></span> <a href="cart.html" class="th-btn th-icon2 style4">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 4" style="width: 516px; margin-right: 24px;" data-swiper-slide-index="1">
                        <div class="product-grid style3 style-flex">
                            <div class="box-img mega-hover"><img src="/assets/img/product/product_3_2.png" alt="menu Image"></div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Raptag Screen Guard For Rrr-Apple Watch Series</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <span class="count">(5k reviews)</span>
                                </div>
                                <span class="box-price">$985.00 <del>$1159.00</del></span> <a href="cart.html" class="th-btn th-icon2 style4">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 4" style="width: 516px; margin-right: 24px;" data-swiper-slide-index="2">
                        <div class="product-grid style3 style-flex">
                            <div class="box-img mega-hover"><img src="/assets/img/product/product_3_3.png" alt="menu Image"></div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Hi-Tech Beautiful Pink Headphones</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <span class="count">(5k reviews)</span>
                                </div>
                                <span class="box-price">$975.00 <del>$1259.00</del></span> <a href="cart.html" class="th-btn th-icon2 style4">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" role="group" aria-label="4 / 4" style="width: 516px; margin-right: 24px;" data-swiper-slide-index="3">
                        <div class="product-grid style3 style-flex">
                            <div class="box-img mega-hover"><img src="/assets/img/product/product_3_2.png" alt="menu Image"></div>
                            <div class="product-grid-content">
                                <h3 class="box-title"><a href="shop-details.html">Raptag Screen Guard For Rrr-Apple Watch Series</a></h3>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                    <span class="count">(5k reviews)</span>
                                </div>
                                <span class="box-price">$985.00 <del>$1159.00</del></span> <a href="cart.html" class="th-btn th-icon2 style4">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button data-slider-prev=".featureSlider1" class="slider-arrow style3 slider-prev"><img src="/assets/img/icon/arrow-left3.svg" alt=""></button> <button data-slider-next=".featureSlider1" class="slider-arrow style3 slider-next"><img src="/assets/img/icon/arrow-right3.svg" alt=""></button>
        </div>
    </div>
</section>
<section class="space-bottom">
    <div class="container th-container">
        <div class="feature-area">
            <div class="row gy-4">
                <div class="col-md-8 col-xl-4 feature-card_wrapp">
                    <div class="feature-card">
                        <div class="box-icon"><img src="/assets/img/icon/feature_card_1.svg" alt="icon"></div>
                        <div class="box-content">
                            <h3 class="box-title">Free Shipping</h3>
                            <p class="box-text">The Shipping for orders over 1000 EGP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 feature-card_wrapp">
                    <div class="feature-card">
                        <div class="box-icon"><img src="/assets/img/icon/feature_card_2.svg" alt="icon"></div>
                        <div class="box-content">
                            <h3 class="box-title">Money Back Guarantee</h3>
                            <p class="box-text">Back guarantee in 7 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 feature-card_wrapp">
                    <div class="feature-card">
                        <div class="box-icon"><img src="/assets/img/icon/feature_card_4.svg" alt="icon"></div>
                        <div class="box-content">
                            <h3 class="box-title">Online Support</h3>
                            <p class="box-text">Support online 24 hours a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

