
  <div class="breadcumb-wrapper background-image" style="background-image: url(&quot;/assets/img/bg/breadcumb-bg.jpg&quot;);">
        <div class="container">
            <div class="breadcumb-content">
            <h1 class="breadcumb-title">Product Details</h1>
                <ul class="breadcumb-menu">
                    <li><a href="electronics-shop.html">Home</a></li>
                    <li> Details</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="product-details space-top space-extra-bottom">
        <div class="container">
            <div class="row gx-60">
                <div class="col-xl-6">
                    <div class="product-big-img">
                        <div class="img"><img src="/assets/img/product/product_1_1.png" alt="Product Image"></div>
                    </div>
                </div>
                <div class="col-xl-6 align-self-center">
                    <div class="product-about">
                        <div class="product-rating">
                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                            <a href="shop-details.html" class="woocommerce-review-link">(<span class="count">2</span> reviews)</a>
                        </div>
                        <h2 class="product-title">Women’s fashion Bag</h2>
                        <p class="price"><del>$35.00 USD</del>$25.00 USD</p>
                        <p class="text">Fashion is heavily influenced by cultural movements, social changes, and historical events. For example, the 1960s saw the rise of the hippie movement, which brought bohemian styles to the forefront. Public figures and social media influencers have a significant impact on fashion trends. Collaborations between celebrities.</p>
                        <div>
                            <div class="size mb-10">
                                <h4 class="title">Size:</h4>
                                <span>S</span> <span>M</span> <span>L</span> <span>XL</span> <span>XXL</span>
                            </div>
                        </div>
                        <div class="beige-color">
                            <h4 class="beige-title">Product Color:</h4>
                            <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                        </div>
                        <div class="actions">
                            <div class="quantity"><input type="number" class="qty-input" step="1" min="1" max="100" name="quantity" value="1" title="Qty"> <button class="quantity-plus qty-btn"><i class="far fa-chevron-up"></i></button> <button class="quantity-minus qty-btn"><i class="far fa-chevron-down"></i></button></div>
                            <button class="th-btn">Add to Cart</button> <a href="wishlist.html" class="icon-btn d-none d-xl-block"><img src="/assets/img/icon/shuffle.svg" alt=""></a><a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                        </div>
                        <div class="checklist">
                            <ul>
                                <li><i class="fa-regular fa-ship fa-fw"></i>Estimate delivery times: 12-26 days (International), 3-6 days (United States).</li>
                                <li><i class="fa-solid fa-rotate-left"></i>Return within 7 days of purchase. Duties &amp; taxes are non-refundable.</li>
                            </ul>
                        </div>
                        <div class="product_meta"><span class="sku_wrapper">SKU: <span class="sku">Fashion-1254</span></span> <span class="posted_in">Categories: <a href="shop.html">Bag, Fashion Hand Bag, Uncategorized.</a></span> <span>Tags: <a href="shop.html">Fashion</a></span> <span>Availability: <a href="shop.html">26 <span class="stock">In Stock</span></a></span></div>
                        <div class="product-cards">
                            <p class="title">Guarantee safe checkout</p>
                            <img src="/assets/img/shape/cards2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav product-tab-style1" id="productTab" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link th-btn" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">Description</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link th-btn" id="additional-tab" data-bs-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false">Additional Information</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link th-btn active" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Review (3)</a></li>
            </ul>
            <div class="tab-content" id="productTabContent">
                <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <h3 class="box-title">Description</h3>
                    <p>The fashion industry saw rapid changes, influenced by cultural movements, technological advancements, and global events. Iconic designers like Coco Chanel, Christian Dior, and Yves Saint Laurent left lasting impacts. Today, fashion is a global industry with designers and brands from all over the world contributing to a diverse and dynamic marketplace. Fashion is a multifaceted industry that encompasses a wide range of styles, trends, and cultural influences. It involves the creation and marketing of clothing, footwear, accessories, and other wearable items. Here are some key details about the fashion industry</p>
                    <p>Fashion is heavily influenced by cultural movements, social changes, and historical events. For example, the 1960s saw the rise of the hippie movement, which brought bohemian styles to the forefront. InJunations like 3D printing, smart textiles, and virtual fitting rooms are transforming how fashion is designed, produced, and sold.</p>
                </div>
                <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
                    <h3 class="box-title">Additional</h3>
                    <p>The fashion industry saw rapid changes, influenced by cultural movements, technological advancements, and global events. Iconic designers like Coco Chanel, Christian Dior, and Yves Saint Laurent left lasting impacts. Today, fashion is a global industry with designers and brands from all over the world contributing to a diverse and dynamic marketplace. Fashion is a multifaceted industry that encompasses a wide range of styles, trends, and cultural influences. It involves the creation and marketing of clothing, footwear, accessories, and other wearable items. Here are some key details about the fashion industry</p>
                    <p>Fashion is heavily influenced by cultural movements, social changes, and historical events. For example, the 1960s saw the rise of the hippie movement, which brought bohemian styles to the forefront. InJunations like 3D printing, smart textiles, and virtual fitting rooms are transforming how fashion is designed, produced, and sold.</p>
                </div>
                <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    <div class="woocommerce-Reviews">
                        <div class="th-comments-wrap">
                            <ul class="comment-list" style="position: relative; height: 894.1px;">
                                <li class="review th-comment-item" style="position: absolute; left: 0px; top: 0px;">
                                    <div class="th-post-comment">
                                        <div class="comment-avater"><img src="/assets/img/blog/comment-author-1.jpg" alt="Comment Author"></div>
                                        <div class="comment-content">
                                            <h4 class="name">Mariya Dsuza</h4>
                                            <span class="commented-on"><i class="far fa-clock"></i>22 october, 2025</span>
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                            <p class="text">The fashion industry saw rapid changes, influenced by cultural movements, technological advancements, and global events. Iconic designers like Coco Chanel, Christian Dior, and Yves Saint Laurent left lasting impacts.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="review th-comment-item" style="position: absolute; left: 0px; top: 223.525px;">
                                    <div class="th-post-comment">
                                        <div class="comment-avater"><img src="/assets/img/blog/comment-author-2.jpg" alt="Comment Author"></div>
                                        <div class="comment-content">
                                            <h4 class="name">Michel Phelops</h4>
                                            <span class="commented-on"><i class="far fa-clock"></i>26 october, 2025</span>
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                            <p class="text">The fashion industry saw rapid changes, influenced by cultural movements, technological advancements, and global events. Iconic designers like Coco Chanel, Christian Dior, and Yves Saint Laurent left lasting impacts.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="review th-comment-item" style="position: absolute; left: 0px; top: 447.05px;">
                                    <div class="th-post-comment">
                                        <div class="comment-avater"><img src="/assets/img/blog/comment-author-3.jpg" alt="Comment Author"></div>
                                        <div class="comment-content">
                                            <h4 class="name">Hamilton Barason</h4>
                                            <span class="commented-on"><i class="far fa-clock"></i>26 october, 2025</span>
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                            <p class="text">The fashion industry saw rapid changes, influenced by cultural movements, technological advancements, and global events. Iconic designers like Coco Chanel, Christian Dior, and Yves Saint Laurent left lasting impacts.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="review th-comment-item" style="position: absolute; left: 0px; top: 670.575px;">
                                    <div class="th-post-comment">
                                        <div class="comment-avater"><img src="/assets/img/blog/comment-author-4.jpg" alt="Comment Author"></div>
                                        <div class="comment-content">
                                            <h4 class="name">Adison Smith</h4>
                                            <span class="commented-on"><i class="far fa-clock"></i>26 october, 2025</span>
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                            <p class="text">The fashion industry saw rapid changes, influenced by cultural movements, technological advancements, and global events. Iconic designers like Coco Chanel, Christian Dior, and Yves Saint Laurent left lasting impacts.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="th-comment-form">
                            <div class="form-title">
                                <h3 class="blog-inner-title">Add a review</h3>
                            </div>
                            <div class="row">
                                <div class="form-group rating-select d-flex align-items-center">
                                    <label>Your Rating</label>
                                    <p class="stars"><span><a class="star-1" href="#">1</a> <a class="star-2" href="#">2</a> <a class="star-3" href="#">3</a> <a class="star-4" href="#">4</a> <a class="star-5" href="#">5</a></span></p>
                                </div>
                                <div class="col-12 form-group"><textarea placeholder="Write a Message" class="form-control"></textarea> <i class="text-title far fa-pencil-alt"></i></div>
                                <div class="col-md-6 form-group"><input type="text" placeholder="Your Name" class="form-control"> <i class="text-title far fa-user"></i></div>
                                <div class="col-md-6 form-group"><input type="text" placeholder="Your Email" class="form-control"> <i class="text-title far fa-envelope"></i></div>
                                <div class="col-12 form-group"><input id="reviewcheck" name="reviewcheck" type="checkbox"> <label for="reviewcheck">Save my name, email, and website in this browser for the next time I comment.<span class="checkmark"></span></label></div>
                                <div class="col-12 form-group mb-0"><button class="th-btn">Post Review</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-extra-top mb-30">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-auto">
                        <h2 class="sec-title text-center">Related Products</h2>
                    </div>
                    <div class="col-md d-none d-sm-block">
                        <hr class="title-line">
                    </div>
                    <div class="col-md-auto d-none d-md-block">
                        <div class="sec-btn">
                            <div class="icon-box"><button data-slider-prev="#productSlider1" class="slider-arrow default"><i class="far fa-arrow-left"></i></button> <button data-slider-next="#productSlider1" class="slider-arrow default"><i class="far fa-arrow-right"></i></button></div>
                        </div>
                    </div>
                </div>
                <div class="swiper th-slider has-shadow swiper-initialized swiper-horizontal swiper-backface-hidden" id="productSlider1" data-slider-options="{&quot;breakpoints&quot;:{&quot;0&quot;:{&quot;slidesPerView&quot;:1},&quot;576&quot;:{&quot;slidesPerView&quot;:&quot;2&quot;},&quot;768&quot;:{&quot;slidesPerView&quot;:&quot;2&quot;},&quot;992&quot;:{&quot;slidesPerView&quot;:&quot;3&quot;},&quot;1200&quot;:{&quot;slidesPerView&quot;:&quot;4&quot;}}}">
                    <div class="swiper-wrapper" id="swiper-wrapper-e4e9aeaac59d9a93" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-2160px, 0px, 0px); transition-delay: 0ms;">
                        <div class="swiper-slide" style="width: 336px; margin-right: 24px;" role="group" aria-label="6 / 8" data-swiper-slide-index="5">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_6.png" alt="menu Image">
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">women's clothing</a></h3>
                                    <span class="box-price"><del>$38.00 USD</del> $33.00 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 336px; margin-right: 24px;" role="group" aria-label="7 / 8" data-swiper-slide-index="6">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_7.png" alt="menu Image">
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">Women’s fashion Bag</a></h3>
                                    <span class="box-price"><del>$40.00 USD</del> $35.00 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" role="group" aria-label="8 / 8" style="width: 336px; margin-right: 24px;" data-swiper-slide-index="7">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_8.png" alt="menu Image">
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">Women’s shoes</a></h3>
                                    <span class="box-price"><del>$25.00 USD</del> $20.00 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 336px; margin-right: 24px;" role="group" aria-label="1 / 8" data-swiper-slide-index="0">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_1.png" alt="menu Image"> <span class="product-tag">On Sale</span>
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">Women’s shoes &amp; bag</a></h3>
                                    <span class="box-price"><del>$25.00 USD</del> $20.00 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" style="width: 336px; margin-right: 24px;" role="group" aria-label="2 / 8" data-swiper-slide-index="1">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_2.png" alt="menu Image">
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">Women’s fashion Bag</a></h3>
                                    <span class="box-price"><del>$29.00 USD</del> $15.00 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" style="width: 336px; margin-right: 24px;" role="group" aria-label="3 / 8" data-swiper-slide-index="2">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_3.png" alt="menu Image">
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">Women’s shoes</a></h3>
                                    <span class="box-price"><del>$30.00 USD</del> $25.00 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" style="width: 336px; margin-right: 24px;" role="group" aria-label="4 / 8" data-swiper-slide-index="3">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_4.png" alt="menu Image"> <span class="product-tag">15%</span>
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">Women’s fashion Bag</a></h3>
                                    <span class="box-price"><del>$35.00 USD</del> $29.00 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" style="width: 336px; margin-right: 24px;" role="group" aria-label="5 / 8" data-swiper-slide-index="4">
                            <div class="product-grid style1">
                                <div class="box-img">
                                    <img src="/assets/img/product/product_1_5.png" alt="menu Image">
                                    <div class="box-icon"><i class="fa-regular fa-heart"></i></div>
                                    <div class="product-action"><a href="wishlist.html"><span class="action-text">Add To Wishlist</span><span class="icon"><i class="fa-regular fa-heart"></i></span></a> <a href="cart.html"><span class="action-text">Add To cart</span><span class="icon"><i class="fa-light fa-bag-shopping"></i></span></a> <a href="cart.html"><span class="action-text">Compare</span><span class="icon"><i class="fa-sharp fa-light fa-shuffle"></i></span></a> <a class="popup-content" href="#QuickView"><span class="action-text">Quick View</span><span class="icon"><i class="fa-light fa-magnifying-glass"></i></span></a></div>
                                    <div class="beige-color">
                                        <h4 class="beige-title">Select Color:</h4>
                                        <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a> <a href="shop-details.html"><span></span></a>
                                    </div>
                                </div>
                                <div class="product-grid-content">
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span>Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span></div>
                                        <span class="count">(2 reviews)</span>
                                    </div>
                                    <h3 class="box-title"><a href="shop-details.html">Women’s shoes</a></h3>
                                    <span class="box-price"><del>$36.00 USD</del> $30.00 USD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="d-block d-md-none mt-40 text-center">
                    <div class="icon-box"><button data-slider-prev="#productSlider1" class="slider-arrow default"><i class="far fa-arrow-left"></i></button> <button data-slider-next="#productSlider1" class="slider-arrow default"><i class="far fa-arrow-right"></i></button></div>
                </div>
            </div>
        </div>
    </section>
